/* Colors */
/* #9A1212  dark red*/
/* #302A2A  gray*/
/* #CBB7B7  silver*/
/* #D9B63C  gold*/

@import url('https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script:700');

* {
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(#9a1212, #750e0e, #520909);
    font-family: "Montserrat", "sans-serif";
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    background: #302a2a;
    color: #cbb7b7;
    text-align: center;
    padding-top: 20px;
    border-bottom: 3px solid #cbb7b7;
    font-family: "Oleo Script", "cursive";
    text-shadow: 3px 5px 2px #1b1717;
    box-shadow: 0px 3px 8px #1b1717;
}

h1 {
    font-size: 60px;
}

.container {
    color: #FBFCFC;
    text-align: center;
    margin-top: 40px;
    padding: 15px;
}

h2 {
    margin-bottom: 0px;
}

input[type="text"] {
    width: 200px;
    background-color: #FBFCFC; 
}

/* index specific css */

#submit {
    margin-top: 20px;
    border:1px solid #b99824; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size:12px;
    font-family:arial, helvetica, sans-serif; 
    text-decoration:none; 
    display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold; 
    color: #ffffff;
    background-color: #D9B63C; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D9B63C), to(#B59736));
    background-image: -webkit-linear-gradient(top, #D9B63C, #B59736);
    background-image: -moz-linear-gradient(top, #D9B63C, #B59736);
    background-image: -ms-linear-gradient(top, #D9B63C, #B59736);
    background-image: -o-linear-gradient(top, #D9B63C, #B59736);
    background-image: linear-gradient(to bottom, #D9B63C, #B59736);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#D9B63C, endColorstr=#B59736);
}

#submit:hover {
    border:1px solid #92781d;
    background-color: #bd9b25; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#bd9b25), to(#8e762a));
    background-image: -webkit-linear-gradient(top, #bd9b25, #8e762a);
    background-image: -moz-linear-gradient(top, #bd9b25, #8e762a);
    background-image: -ms-linear-gradient(top, #bd9b25, #8e762a);
    background-image: -o-linear-gradient(top, #bd9b25, #8e762a);
    background-image: linear-gradient(to bottom, #bd9b25, #8e762a);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bd9b25, endColorstr=#8e762a);
}

/* movie specific css */

#movie-dropdown{
    width:400px;
    font-size: 16px;
}

.movie-box{
    background:#302a2a;
    color: #FBFCFC;
    margin: 30px 15% 0 15%;
    text-align: left;
    border:3px solid #cbb7b7;
    border-radius: 1px;
}

.theater-text{
    border-bottom: 1px solid #cbb7b7;
    padding: 30px;
}

.theater-title {
    font-size: 18px;
    margin-bottom: 0px;
}

.showtimes {
    color: #D9B63C;
    margin-bottom: 0px;
}

.theater-address {
    margin-bottom: 0px;
}

/* dinner specific css */

.dinner-box {
    background:#302a2a;
    color: #FBFCFC;
    margin: 30px 15% 0 15%;
    text-align: left;
    border:3px solid #cbb7b7;
    border-radius: 1px;
    box-shadow: 3px 3px 8px #1b1717;
}

.dinner-results {
    padding: 15px 15px 15px 30px;
    border-bottom: 1px solid #cbb7b7;
}

.dinner-info {
    border-left: 1px solid #cbb7b7;
    margin-left: 0px;
    padding: 15px 15px 15px 30px;
}

.dinner-name {
    font-size: 18px;
    margin-bottom: 0px;
}

.dinner-cuisine {
    color: #D9B63C;
    margin-bottom: 0px;
}

.dinner-address {
    margin-top: 2.5rem;
}